html, body, ion-app, ion-content {
    height: 100%;
  }

  body{
    background-color: whitesmoke;
  }

  .custom-menu{
    width:50px;
  }

  img{
    max-width: 200px;
  }

  .sub-ion {
    --inner-border-width: 0px;
  }