ion-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-left: 20px;
  margin-right: 20px;
}

.main-content {
  background-color: rgb(116, 141, 155);
  height: 100vh;
  padding: 20px;
}

ion-searchbar {
  margin: 10px;
  margin-left: 10px;
  margin-right: 20px;
  align-items: center;
  max-width: 1100px;
}

ion-grid {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

ion-button {
  margin-left: 30px;
}

.filter {
  background-color: rgb(198, 223, 252);
}

.search-container {
  background-color: white;
  margin-left: 20px;
  margin-right: 10px;
  border-radius: 8px;
}

.cat-list {
  background-color: white;
  margin-left: 20px;
  margin-right: 10px;
  border-radius: 8px;
}

.header-row {
  background-color: rgb(198, 223, 252); /* New color for header row */
  color: black; /* Text color for header row */
}

.white-row {
  background-color: white; /* White background for odd-indexed rows */
}

.blue-row {
  background-color: whitesmoke; /* Blue background for even-indexed rows */
}

.coat-container {
  background-color: rgb(249, 220, 237);
  color: rgb(207, 46, 153);
  font-weight: bold;
  border-radius: 40%;
  width:fit-content;
  padding: 5px; /* Adjust padding as needed */
}

.pagination-info {
  margin-left: 10px;
  color: black;
}

.pagination-container {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.pagination-button {
  --border-radius: 40%;
  margin-left: 10px;
}

.accessories {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ensure items are spaced evenly */
  margin-left: 10px; /* Adjust margin as needed */
  margin-right: 10px; /* Adjust margin as needed */

  .submit-container{
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ensure items are spaced evenly */
    margin-left: 10px; /* Adjust margin as needed */
    margin-right: 10px;
  }
  .select-page {
    margin-right: 10px; /* Add some space between dropdown and pagination info */
    position: relative; /* Ensure relative positioning for the dropdown */
    width: 50px; /* Adjust width as needed */
    
    select {
      width: 100%;
      padding: 8px;
      border-radius: 10px; /* Adjust border radius as needed */
      border: 1px solid #ccc; /* Example border styling */
      background-color: #fff; /* Example background color */
      outline: none; /* Remove default outline */
    }
  }

  .pagination-info {
    color: black; /* Example styling */
    font-weight: bold; /* Example styling */
  }

  .pagination-container {
    display: flex;
    align-items: center;
  }

  .pagination-button {
    --border-radius: 40%; /* Adjust button styling */
    margin-left: 10px; /* Add space between buttons */
  }
}

