ion-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-left: 20px;
  margin-right: 20px;
}

.main-content {
  //background-color: rgb(116, 141, 155);
  background-color: rgb(234, 239, 240);
  height: 100vh;
  padding: 20px;
}

ion-searchbar {
  margin: 10px;
  margin-left: 10px;
  margin-right: 20px;
  align-items: center;
  max-width: 1100px;
}

ion-title {
  color: black;
  font-weight: bold;
}

ion-grid {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

ion-button {
  margin-left: 30px;
}

.filter {
  background-color: rgb(198, 223, 252);
}

.search-container {
  background-color: white;
  margin-left: 20px;
  margin-right: 10px;
  border-radius: 8px;
}

.cat-list {
  background-color: white;
  margin-left: 20px;
  margin-right: 10px;
  border-radius: 8px;
}

.header-row {
  background-color: rgb(179, 201, 224); //background colour for header row
  color: black; //text colour for header row
}

.white-row {
  background-color: white; //White background for odd-indexed rows
}

.blue-row {
  background-color: whitesmoke; // whitesmoke background for even-indexed rows
}

.coat-container {
  background-color: rgb(249, 220, 237);
  color: rgb(207, 46, 153);
  font-weight: bold;
  border-radius: 40%;
  width: fit-content;
  padding: 5px; 
}

.pagination-info {
  margin-left: 10px;
  color: black;
}

.pagination-container {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.pagination-button {
  --border-radius: 40%;
  margin-left: 10px;
}

.accessories {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  margin-left: 10px; 
  margin-right: 10px; 
}

.submit-container {
  display: flex;
  align-items: center;
  justify-content: space-between; //Ensure items are spaced evenly 
  margin-left: 10px; 
  margin-right: 10px;
}

.select-page {
  margin-right: 10px; 
  position: relative; //Ensure relative positioning for the dropdown
  width: 50px; 
  height: 40px;
  select {
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid #ccc; 
    background-color: #fff; 
    outline: none; 
    height: 35px;
  }
}

.pagination-info {
  color: black; 

}

.pagination-container {
  display: flex;
  align-items: center;
}

.pagination-button::part(native) {
  background-color: rgb(107, 43, 226);
  color: white;
  border: none;
}

.filter-dropdown-container {
  display: flex;
  align-items: center;
  background-color: rgb(179, 201, 224);
  border: 1px solid rgb(140, 141, 141);
  border-radius: 10px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); //Add box shadow
  padding: 5px 15px; 
  max-width: fit-content; //Ensure the container fits its content 
  white-space: nowrap; 
  margin-left: 20px;
  height: 40px;
}

.search-by-label {
  margin-right: 10px;
  color: black;
  
}



ion-select {
  --padding-start: 10px;
  --padding-end: 10px;
  --placeholder-color: black;
  --placeholder-font-weight: bold;
  color: black;
}

ion-select::part(placeholder) {
  color: black;
}

ion-select::part(icon) {
  color: black;
}

ion-select::part(text) {
  font-weight: bold; // Make selected option text bold
}

